@model string

<h1 class="bg-info text-white">Criar perfil</h1>
<a asp-action="Index" class="btn btn-secondary">Retornar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div>
        <label for="name" class="form-label">Nome: </label>
        <input name="name" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary mt-3" value="Criar" />
</form>