@model AspNetCoreIdentity.Application.DTOs.Student.DeleteStudentDto

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar aluno</h2>

<h3>Você tem certeza de que deseja remover os dados do aluno @Model.Name?</h3>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Name" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="Name" class="form-control" disabled />
        </dd>

        <dt class = "col-sm-2">
            <label asp-for="Email" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="Email" class="form-control" disabled />
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar aluno" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar à listagem de alunos</a>
    </form>
</div>
