@model AspNetCoreIdentity.Application.DTOs.Student.DetailsStudentDto

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do aluno</h2>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Name" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input disabled asp-for="Name" class="form-control" />
        </dd>

        <dt class = "col-sm-2">
            <label asp-for="Email" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input disabled asp-for="Email" class="form-control" />
        </dd>

        <dt class = "col-sm-2">
            <label asp-for="Age" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input disabled asp-for="Age" class="form-control" />
        </dd>

        <dt class = "col-sm-2">
            <label asp-for="Course" class="form-label"></label>
        </dt>
        <dd class = "col-sm-10">
            <input disabled asp-for="Course" class="form-control" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Retornar à listagem de alunos</a>
</div>
